.App {
  text-align: center;
  margin-top: 20px;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.typography {
  font-size: calc(10px + 1vmin);
}

.App-link {
  color: #61dafb;
}
.tokenaddress {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-left: 20px; */
}
.tokenaddress2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-left: 20px; */
}
.Codemirror {
  background: transparent;
  color: #fff;
  z-index: 1;
  border: 1px solid #415d9f;
  max-height: 140px;
  height: 100%;
}
.select {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}
